.product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
    .product-card {
        width: 23%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        height: auto;
        border: 1px solid gray;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);
        position: relative;
        .delete-btn {
          position: absolute;
          width: 50px;
          height: 50px;
          top: -15px;
          right: -15px;
          border-radius: 50px;
          background-color: rgb(206, 75, 75);
          color: white;
          font-size: 30px;
          
        }
      img {
        height: 300px;
        width: 100%;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
      }

      .product-text {
        margin-top: 10px;
        position: relative;
        .add-product-calori{
          position: absolute;
          width: 35px;
          height: 35px;
          right: 0;
          bottom: -2px;
          border-radius: 20px;
          background-color:  #749934;
          color: white;
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .details-btn {
          background-color: #749934;
          color: white;
          border-radius: 10px;
          margin-top: 10px;
          &:hover{
            background-color: white;
            color: #749934;
          }
         
        }
        h3 {
            font-size: 24px;
            font: bold;
            
        }
        .product-calori {
            display: flex;
            justify-content: space-between;
            color: #749934;
        }
      }
    }
}