.add-product {
    text-align: center;
    margin-top: 10px;
    button {
        width: 50%;
        height: 60px;
        color: white;
        background-color: #749934;
        font-size: 24px;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
            background-color: white;
            color: #749934 ;
        }
    }
}